body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: url('bg.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Noto Serif JP', serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 90%;
    height: 90%;
    max-height: 600px;
    max-width: 400px;
    border: 15px solid rgb(12, 99, 58);
    border-radius: 5px;
    background-color: rgb(255, 253, 252);
    box-shadow: 10px 5px 5px rgba(82, 82, 82, 0.5);
}

button {
    margin: 5px;
    width: 130px;
    height: 130px;
    padding: 10px;
    font-size: 30px;
    font-weight: bolder;
    border: none;
    background-color: #ffea30;
    border: 2px solid rgb(17, 17, 17);
    color: rgb(0, 0, 0);
    border-radius: 90%;
    cursor: pointer;
}

button:disabled {
    background-color: #ccc;
}

#textBox {
    width: 230px;
    height: 230px;
    text-align: center;
    font-size: 176px;
    background:  rgb(255, 253, 252);
    color: rgb(196, 0, 0);
    border: 5px solid rgb(196, 0, 0);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 90%;
}

#remainingCardsText {
    display: block;
    margin-top: 0;
    left:15px;
    padding: 15px;
    font-size: 24px;
    border: none;
    color: black;
}

#options {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: space-around;
}

